<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.classgroupware.base.persistence.AttendanceDAO">

	<insert id="insert">
		insert into attendance
		values(attendance_seq.nextval, #{class_idx}, #{user_idx}, #{attendace_event}, #{attendance_date})
	</insert>

	<select id="selectByIdx" resultType="com.ja.classgroupware.base.vo.AttendanceVO">
		select attendance_idx, class_idx, user_idx, attendance_event, attendance_date
		from attendance
		where attendance_idx = #{attendance_idx}
	</select>

	<select id="selectAll" resultType="com.ja.classgroupware.base.vo.AttendanceVO">
 <![CDATA[
 select attendance_idx, class_idx, user_idx,
		attendace_event, attendace_date from
		attendance
 where attendace_idx > 0 
 order by attendace_idx desc
 ]]>
	</select>

	<update id="update">
		update attendance set attendace_event
		=#{attendace_event}, attendace_date
		=#{attendace_date}
		where
		attendace_idx = #{attendace_idx}
	</update>

	<delete id="delete">
		delete from attendance where attendace_idx =
		#{attendace_idx}
	</delete>

</mapper>
