<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.classgroupware.base.persistence.CommentsDAO">

	<insert id="insert">
		insert into comments
		values(comments_seq.nextval, #{bo_idx}, #{class_idx}, #{user_idx}, #{comm_parent_idx}, #{comm_content}, SYSDATE, #{comm_role})
	</insert>

	<select id="selectByIdx" resultType="com.ja.classgroupware.base.vo.CommentsVO">
		select comment_idx, bo_idx, class_idx,
		user_idx,
		comm_parent_idx, comm_content, comm_writedate, comm_role from
		comments
		where comment_idx =
		#{comment_idx}
	</select>

	<select id="selectAll" resultType="com.ja.classgroupware.base.vo.CommentsVO">
 <![CDATA[
select comment_idx, bo_idx, class_idx,
		user_idx,
		comm_parent_idx, comm_content, comm_role, comm_writedate from
		comments
 where comment_idx > 0 
 order by comment_idx desc
 ]]>
	</select>

	<update id="update">
		update comments set comm_content
		=#{comm_content}, comm_writedate = SYSDATE
		where
		comment_idx = #{comment_idx}
	</update>

	<delete id="delete">
		delete from comments where comment_idx =
		#{comment_idx}
	</delete>


</mapper>
