<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.classgroupware.base.persistence.Hw_boardDAO">

	<insert id="insert">
	<!-- 	insert into hw_board
		values(hw_board_seq.nextval,
		#{class_idx}, #{user_idx}, #{hw_title}, #{hw_content},
		#{hw_startdate}, #{hw_enddate}, sysdate) -->
		insert into hw_board
		values(hw_board_seq.nextval,
		#{class_idx}, #{user_idx}, #{hw_title, jdbcType=VARCHAR}, #{hw_content, jdbcType=VARCHAR},
		#{hw_startdate, jdbcType=DATE}, #{hw_enddate, jdbcType=DATE}, sysdate)
	</insert>

	<select id="selectByIdx" resultType="com.ja.classgroupware.base.vo.Hw_boardVO">
		select hw_idx, class_idx,
		user_idx, hw_title, hw_content, hw_startdate, hw_enddate,
		hw_writedate
		from hw_board
		where hw_idx =
		#{hw_idx}
	</select>

	<select id="selectAll" resultType="com.ja.classgroupware.base.vo.Hw_boardVO">
		 <![CDATA[
			select hw_idx, class_idx, user_idx, hw_title, hw_content, hw_startdate, hw_enddate, hw_writedate
			from hw_board
			where hw_idx > 0
		 ]]>
	</select>

	<update id="update">
		update hw_board
		set hw_title = #{hw_title},
		hw_content
		= #{hw_content},
		hw_startdate = #{hw_startdate},
		hw_enddate =
		#{hw_enddate},
		hw_writedate = sysdate
		where hw_idx = #{hw_idx}
	</update>

	<delete id="delete">
		delete
		from hw_board
		where hw_idx = #{hw_idx}
	</delete>

	<select id="listPage" resultType="com.ja.classgroupware.base.vo.Hw_boardVO">
	<![CDATA[
	select * from
	(select rownum rnum, hw_title, hw_startdate, hw_enddate, hw_idx from
	(select * from hw_board where hw_idx >0 order by hw_idx desc))
	 where rnum between #{page} and 10
	
	]]>
	</select>

	<select id="listCriteria" resultType="com.ja.classgroupware.base.vo.Hw_boardVO">
		select * from
		(select rownum rnum, hw_title, hw_startdate, hw_enddate, hw_idx from
		(select * from hw_board where hw_idx >0 order by hw_idx desc))
		where rnum between #{pageStart} and #{perPageNum}
	</select>

	<!-- <select id="countPaging" resultType="int">
 <![CDATA[
 select 
   count(hw_idx) 
 from 
   hw_board 
 where 
   hw_idx > 0 
 ]]>
	</select> -->

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and hw_title like '%#{keyword}%'
			</if>
			<if test="searchType == 'c'.toString()">
				and hw_content like '%#{keyword}%'
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="com.ja.classgroupware.base.vo.Hw_boardVO">
<![CDATA[  
  select * 
  from (select rownum rnum, hw_title, hw_startdate, hw_enddate, hw_idx from
		(select * from hw_board where hw_idx >0 order by hw_idx desc))
		where rnum between #{pageStart} and #{perPageNum}
]]>
		<include refid="search"></include>
	</select>

	<select id="listSearchCount" resultType="int">
<![CDATA[  
  select count(hw_idx) 
  from hw_board 
  where hw_idx > 0 
]]>
		<include refid="search"></include>

	</select>
	
	<select id="countAll" resultType="int">
	select count(*) from hw_board
	</select>

</mapper>
