<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.classgroupware.base.persistence.UsersDAO">
	
	<insert id="insert">
		insert into users
		values(users_seq.nextval, #{user_id}, #{user_email}, #{user_name}, #{user_password}, #{user_role})
	</insert>

	<select id="selectByIdx" resultType="com.ja.classgroupware.base.vo.UsersVO">
		select user_idx, user_id, user_email, user_name, user_password, user_role
		from users
		where user_idx = #{user_idx}
	</select>
	
	<!-- 아이디 찾기 이메일로 select문 -->
	<select id="selectByEmail" resultType="com.ja.classgroupware.base.vo.UsersVO">
		select user_id
		from users 
		where user_email = #{user_email}
	</select>
	
	
	<select id="selectAll" resultType="com.ja.classgroupware.base.vo.UsersVO">
		 <![CDATA[
			select user_idx, user_id, user_email, user_name, user_password, user_role
			from users
			where user_idx > 0
		 ]]>
	</select>

	<update id="update">
		update class
		set user_email = #{user_email},
			user_name = #{user_name},
			user_password = #{user_password},
			user_role = #{user_role}
		where user_idx = #{user_idx}
	</update>

	<delete id="delete">
		delete 
		from users 
		where user_idx = #{user_idx}
	</delete>
	
	<!-- 로그인 처리 -->
	 <select id="login" resultType="com.ja.classgroupware.base.vo.UsersVO">
        select * from users where user_id = #{user_id} and user_password = #{user_password}
    </select>



	
 	<update id="keepLogin">
		update users set sessionKey = #{sessionId}, sessionLimit = #{next} where
		user_id = #{user_id}
	</update>

	<select id="checkUserWithSessionKey" resultType="com.ja.classgroupware.base.vo.UsersVO">
		select * from users where sessionKey = #{value} and sessionlimit > now()
	</select>
	
	

</mapper>
